//== Header Section ::::
header {
    width: 100%;
    height: auto;
    position: relative;
    padding: 50px;
    z-index: 99;
    transition: all 300ms ease-in-out;
    //background: #fff;
    //color: #fff;
    @include respond-to-min(920){
        position: fixed;
    }
    a{
        img{
            
        }
    }
}
//========== /Header Section